.sidebar-content li:hover {
    background: #e7e7e7;
    transition: all ease-in-out 0.05s;
}
.active{
    background: #f3f3f3;
    color: black;
    font-weight: bold;
}


.sidebar-content li:hover>span,
.sidebar-content li:hover>i {
    color: black;
}


